.container{
    color: white;
    margin: 20px;
    margin-bottom: 60px;
}

.inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.iframe-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.iframe-container h1{
    margin-bottom: -15px;
}

p{
    color: red;
}

@media (max-width: 600px) {
    .inner-container{
        flex-direction: column;
    }

    .iframe-container iframe{
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        margin: 0px
    }
}