<img class="img-media" src="./assets/images/banner-media.jpeg" alt="media-tour">
<div class="container">
    <div class="inner-container">
        <div class="iframe-container">
            <h1>The Number of The Beast</h1>
            <p>Steve Harris - Released 1982</p>
            <iframe width="620" height="315" src="https://www.youtube.com/embed/WxnN05vOuSM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="iframe-container">
            <h1>The Trooper</h1>
            <p>Steve Harris - Released 1983</p>
            <iframe width="620" height="315" src="https://www.youtube.com/embed/X4bgXH3sJ2Q"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="inner-container">
        <div class="iframe-container">
            <h1>2 Minutes To Midnight</h1>
            <p>Adrian Smith, Bruce Dickinson - Released 1984</p>
            <iframe width="620" height="315" src="https://www.youtube.com/embed/9qbRHY1l0vc"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="iframe-container">
            <h1>Wasted Years</h1>
            <p>Adrian Smith - Released 1986</p>
            <iframe width="620" height="315" src="https://www.youtube.com/embed/Ij99dud8-0A"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="inner-container">
        <div class="iframe-container">
            <h1>The Evil That Man Do</h1>
            <p>Harris, Dickinson, Smith  - Released 1988</p>
            <iframe width="620" height="315" src="https://www.youtube.com/embed/M6JpxDebokM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="iframe-container">
            <h1>The Wicker Man</h1>
            <p>Harris, Dickinson, Smith - Released 2000</p>
            <iframe width="620" height="315" src="https://www.youtube.com/embed/-sQ3Af3DpeM" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
